<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                2020-3000 &copy; TanySher <a href="">Dermengi Ion</a>
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="/Home">Acasa</a>
                    <a href="/Product/Products">Produse</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->
