<div class="d-flex align-items-center" id="hero">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Welcome to <span>/ Spotlight /</span></h1>
                <h2>Preparing your favorite food for more than 10 years!</h2>
                <div class="btns">
                    <a href="#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
                    <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Book a Table</a>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
                <a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ" class="glightbox play-btn"></a>
            </div>

        </div>
    </div>
</div>
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="assets/img/about.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>We offer the best so that you can enjoy all the pleasure of the food you eat.</h3>
                <p>
                </p>
                <p class="fst-italic">
                    We have been in the industry for 10 years and all this time we are perfecting ourselves so that the food that our visitors receive is as perfect as possible.
                </p>
                <p></p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> We love our visitors, and they reward us with their smiles.</li>
                    <p></p>
                    <li><i class="bi bi-check-circle"></i> With us you can find that taste of the house that you miss so much.</li>
                    <p></p>
                    <li><i class="bi bi-check-circle"></i> We use only the best ingredients, so that the taste you receive is as ideal as possible.</li>
                </ul>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Why Us</h2>
            <p>Why Choose Our Restaurant</p>
        </div>

        <div class="row">

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="10">
                    <span>01</span>
                    <h4>We love what we do</h4>
                    <p>For 10 years we have been doing something that brings pleasure, not only to us but also to our visitors.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="10">
                    <span>02</span>
                    <h4>Food worth trying</h4>
                    <p>We bring you only the best on the table, we bring you the food that will be imprinted in your memory for a long time.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="10">
                    <span>03</span>
                    <h4>Quality staff</h4>
                    <p>At your disposal are the best waiters and cooks. They work so that you can enjoy every moment to the fullest.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Why Us Section -->
<!-- ======= Menu Section ======= -->
<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Menu</h2>
            <p>Check Our Tasty Menu</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="menu-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-starters">Starters</li>
                    <li data-filter=".filter-salads">Soups and Salads</li>
                    <li data-filter=".main-specialties">Main specialties</li>
                    <li data-filter=".desert">Desserts</li>
                    <li data-filter=".filter-specialty">Specialty</li>
                </ul>
            </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
            
            <div class="col-lg-6 menu-item filter-starters">
                <img src="assets/img/menu/lobster-bisque.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Lobster Bisque</a><span>$15.94</span>
                </div>
                <div class="menu-ingredients">
                    Lobster, spices, secret ingredients.
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-starters">
                <img src="assets/img/menu/cake.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Crab Cake</a><span>$10.96</span>
                </div>
                <div class="menu-ingredients">
                    A delicate crab cake served on a toasted roll with lettuce and tartar sauce.
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-starters">
                <img src="assets/img/menu/mozzarella.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Mozzarella Stick</a><span>$4.95</span>
                </div>
                <div class="menu-ingredients">
                    Lorem, deren, trataro, filede, nerada
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-starters">
                <img src="assets/img/menu/becon.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Bacon rings</a><span>$7.59</span>
                </div>
                <div class="menu-ingredients">
                    Home made bacon, with barbeque sauce and spices.
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-starters">
                <img src="assets/img/menu/canape.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Canape trio</a><span>$7.59</span>
                </div>
                <div class="menu-ingredients">
                    Classic taste of canape, what can be better?
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-salads">
                <img src="assets/img/menu/caesar.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Caesar Selections</a><span>$8.95</span>
                </div>
                <div class="menu-ingredients">
                    Lorem, deren, trataro, filede, nerada
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-salads">
                <img src="assets/img/menu/greek-salad.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Greek Salad</a><span>$9.95</span>
                </div>
                <div class="menu-ingredients">
                    Fresh spinach, crisp romaine, tomatoes, and Greek olives
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-salads">
                <img src="assets/img/menu/spinach-salad.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Spinach Salad</a><span>$9.95</span>
                </div>
                <div class="menu-ingredients">
                    Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-salads">
                <img src="assets/img/menu/gazpacho.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Gazpacho</a><span>$12.95</span>
                </div>
                <div class="menu-ingredients">
                    Classic Spanish cold soup made of raw, blended vegetables.
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-salads">
                <img src="assets/img/menu/minestrone.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Ministrone</a><span>$12.95</span>
                </div>
                <div class="menu-ingredients">
                    Classic Italian soup made of vegetables, meat and pasta.
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-salads">
                <img src="assets/img/menu/ramen.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Ramen Soup</a><span>$12.95</span>
                </div>
                <div class="menu-ingredients">
                    Classic Japanese soup famous around the world.
                </div>
            </div>

            <div class="col-lg-6 menu-item main-specialties">
                <img src="assets/img/menu/steak.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Ribeye steak</a><span>$35.55</span>
                </div>
                <div class="menu-ingredients">
                    A boneless rib steak made of best meat.
                </div>
            </div>

            <div class="col-lg-6 menu-item main-specialties">
                <img src="assets/img/menu/fish.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Fish pie</a><span>$15.55</span>
                </div>
                <div class="menu-ingredients">
                    Fish pie, also known as fisherman's pie, is a traditional British dish.
                </div>
            </div>

            <div class="col-lg-6 menu-item main-specialties">
                <img src="assets/img/menu/spagheti.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Spaghetti bolognese</a><span>$15.55</span>
                </div>
                <div class="menu-ingredients">
                    Spaghetti with a meat-based sauce, typical of the city of Bologna.
                </div>
            </div>

            <div class="col-lg-6 menu-item main-specialties">
                <img src="assets/img/menu/burger.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Beef burger</a><span>$7.55</span>
                </div>
                <div class="menu-ingredients">
                    Classic of american kitchen.
                </div>
            </div>

            <div class="col-lg-6 menu-item main-specialties">
                <img src="assets/img/menu/lasagna.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Lasagna</a><span>$7.55</span>
                </div>
                <div class="menu-ingredients">
                    Traditional Italian dish, made of lasagna plate, vegetables and meat.
                </div>
            </div>

            <div class="col-lg-6 menu-item main-specialties">
                <img src="assets/img/menu/Chicken.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Chicken & chorizo jambalaya</a><span>$8.55</span>
                </div>
                <div class="menu-ingredients">
                    Is an American Creole and Cajun rice dish of French, African, and Spanish influence
                </div>
            </div>

            <div class="col-lg-6 menu-item desert">
                <img src="assets/img/menu/napoleon.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Napoleon tart</a><span>$6.55</span>
                </div>
                <div class="menu-ingredients">
                    A mille-feuille also known by the names Napoleon, vanilla slice, and custard slice.
                </div>
            </div>

            <div class="col-lg-6 menu-item desert">
                <img src="assets/img/menu/cheese.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Cheesecake</a><span>$7.55</span>
                </div>
                <div class="menu-ingredients">
                    A sweet dessert consisting of one or more layers
                </div>
            </div>

            <div class="col-lg-6 menu-item desert">
                <img src="assets/img/menu/tiramisu.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Tiramisu</a><span>$7.55</span>
                </div>
                <div class="menu-ingredients">
                    Italian multi-layered dessert, which includes mascarpone cheese, coffee.
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-specialty">
                <img src="assets/img/menu/tuscan-grilled.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Tuscan Grilled</a><span>$9.95</span>
                </div>
                <div class="menu-ingredients">
                    Grilled chicken with provolone, artichoke hearts, and roasted red pesto
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-specialty">
                <img src="assets/img/menu/bread-barrel.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Bread Barrel</a><span>$4.99</span>
                </div>
                <div class="menu-ingredients">
                    Hight quality floor, eggs, spices
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-specialty">
                <img src="assets/img/menu/lobster-roll.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Lobster Roll</a><span>$12.95</span>
                </div>
                <div class="menu-ingredients">
                    Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                </div>
            </div>
        </div>

    </div>
</section><!-- End Menu Section -->
<!-- ======= Specials Section ======= -->
<section id="specials" class="specials">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Specials</h2>
            <p>Check Our Specials</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Kobe Beef</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                            The Fortress Stilt Fisherman Indulgence
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Fugu fish</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Yubari King melon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Mānuka honey</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Rarest meat in the world</h3>
                                <p>Kobe beef is wagyu beef from the Tajima breed of Japanese black cattle, raised in Hyogo Prefecture in Japan under regulations set by the Kobe Beef Marketing and Distribution Association. The meat is a delicacy, prized for its flavor, tenderness, and fatty, well-marbled texture.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/menu/kobe.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>One of the most expensive desserts in the world.</h3>
                                <p>The 'fortress stilt fisherman indulgence' is a more than fitting choice, and holds a reputation as one of the most expensive desserts in the world.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/fishman.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>One of the most poisonous fish in the world</h3>
                                <p>
                                    Fugu, a type of puffer fish, have poisonous livers, eyes, and ovaries that, when not properly removed, are more lethal than cyanide if consumed, giving the fish a reputation as the most dangerous food on Earth. It's because of this toxicity that preparation of the fish is highly regulated by the government in Japan, where fugu is a considered a delicacy.
                                    Chefs train for years before taking an extensive exam just to earn a certification to serve fugu. When sliced into sashimi, fugu has a mild, fresh taste with a chewy texture.
                                </p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/fugu.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>In fact, one Yubari King melon sold for $14,500 in 2018.</h3>
                                <p>the melons are grown in temperature- controlled greenhouses for cultivation all year round, they're still pretty rare. That's thanks to the meticulous TLC farmers pay their crop through the entire growing process, where each melon tree is pruned of its crop down to a single fruit, which they even massage by hand to ensure perfection.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/melon.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-5">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Mānuka is a flower native to New Zealand that blooms for only 12 days.</h3>
                                <p>Mānuka honey is available for harvest for a super short two to six week period, which is why honey from this particular flower represents about 1% of the honey in the world. It has a rich, earthy flavor and is thinner than honey you're likely used to.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/honey.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Specials Section -->
<!-- ======= Book A Table Section ======= -->
<section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Reservation</h2>
            <p>Book a Table</p>
        </div>

        <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3">
                    <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3">
                    <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3">
                    <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
                    <div class="validate"></div>
                </div>
            </div>
            <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
                <div class="validate"></div>
            </div>
            <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Book a Table</button></div>
        </form>

    </div>
</section><!-- End Book A Table Section -->
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Testimonials</h2>
            <p>What they're saying about us</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            The food was very good, it even made me decide to take the Russian army out of Transnistria.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Vladimir Putin</h3>
                        <h4>President of Russian Federation</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            The atmosphere is very pleasant, the food very tasty. All together made me forget the sadness of my life.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                        <h3>Jim Carrey</h3>
                        <h4>Actor, Nice guy</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            I had a great time, I ate tasty food, I listened to good music, and I forgot that I am no longer president.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                        <h3>Donald Trump</h3>
                        <h4>Ex. President of USA</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            I plan to buy this place, why not, I can afford it.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>Jeff Bezos</h3>
                        <h4>CEO and Founder of Amazon</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            I liked Japanese food, I felt at home, and the parking spaces are quite spacious, I even did some circles on the asphalt.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                        <h3>Smokey Nagata</h3>
                        <h4>Automobil tuner</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            I can say that the food here is the best I've eaten in my life, I was so pleased that I think I'll even do a concert in Moldova, as a sign of gratitude.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-6.jpg" class="testimonial-img" alt="">
                        <h3>Abel Testafaye</h3>
                        <h4>Singer</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            The food was very good, not exactly like Raghim's, but still. But milk, grade 10, I can't describe in words.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-7.jpg" class="testimonial-img" alt="">
                        <h3>Gabriel Sobetchi</h3>
                        <h4>Student UTM, milk lover</h4>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->
<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">

    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Gallery</h2>
            <p>Some photos from Our Restaurant</p>
        </div>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/Untitled-1.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="assets/img/gallery/Untitled-1.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/Untitled-2.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="assets/img/gallery/Untitled-2.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/Untitled-3.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="assets/img/gallery/Untitled-3.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/Untitled-4.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="assets/img/gallery/Untitled-4.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/Untitled-5.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="assets/img/gallery/Untitled-5.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/Untitled-6.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="assets/img/gallery/Untitled-6.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/Untitled-7.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="assets/img/gallery/Untitled-7.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/Untitled-8.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="assets/img/gallery/Untitled-8.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Gallery Section -->
<!-- ======= Chefs Section ======= -->
<section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Chefs</h2>
            <p>Our Proffesional Chefs</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                    <img src="assets/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Jamie Oliver</h4>
                            <span>Master Chef</span>
                        </div>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="200">
                    <img src="assets/img/chefs/chefs-2.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>CZN Burak</h4>
                            <span>Sou-chef</span>
                        </div>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="300">
                    <img src="assets/img/chefs/chefs-3.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Haisenberg</h4>
                            <span>Molecular kitchen chef </span>
                        </div>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Chefs Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Us</p>
        </div>
    </div>

    <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2717.8721432107586!2d28.871835215611693!3d47.06235837915227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97cde4f5d0f0d%3A0x7270cf770c151ce0!2zQmxvY3VsIDExLCBTdHJhZGEgU3R1ZGVuyJtpbG9yIDExLzEsIENoaciZaW7Eg3U!5e0!3m2!1sru!2s!4v1645637149168!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <div class="container" data-aos="fade-up">

        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Str.Studentilor 1,Chisinau</p>
                    </div>

                    <div class="open-hours">
                        <i class="bi bi-clock"></i>
                        <h4>Open Hours:</h4>
                        <p>
                            Monday-Saturday:<br>
                            11:00 AM - 22:00 PM
                        </p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>info@example.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+373 (66) 666 666</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="8" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>

            </div>

        </div>

    </div>
</section><!-- End Contact Section -->